Entrar na pasta:
cd /home/pi/automation/configs-apps/app-finance-sync

Instalar dependências:
python -m pip install -r requirements.txt

Gerar o JSON:
python convert_finance_xlsx_to_json.py "/caminho/para/planilha.xlsx" --output finance-data.json

python convert_finance_xlsx_to_json.py "link&download=1" --output finance-data.json

Subir o container:
docker compose -f /home/pi/automation/dc-local/dc-finan-dashboard.yaml up -d

Acessar:
http://<IP-do-raspberry>:8085