#--- MCP ---#
TELEGRAM_BOT_TOKEN=COLOQUE_SEU_TOKEN_AQUI
MCP_URL=http://ip:port/mcp
TELEGRAM_ALLOWED_USER_ID=id_do_usuario_permitido
#--- BOT ---#
MCP_NAME=Health Check
MCP_HOST=0.0.0.0
MCP_PORT=5080
ENVIRONMENT=development
#--- DEPLOY ---#
# DEPLOY_REPOSITORY_DIR=/home/dalves/automation
# DEPLOY_COMMAND_TIMEOUT=300