python3 -m venv .venv
source .venv/bin/activate

#--------------------------------#

pip install python-telegram-bot mcp python-dotenv

pip freeze > requirements.txt

cd /home/dalves/telegram-bot
source .venv/bin/activate

#--------------------------------#

pip install "mcp==1.28.1" python-telegram-bot python-dotenv

pip install python-telegram-bot python-dotenv

#--------------------------------#

sudo nano /etc/systemd/system/homelab-telegram-bot.service

sudo systemctl daemon-reload
sudo systemctl enable homelab-telegram-bot
sudo systemctl start homelab-telegram-bot
sudo systemctl status homelab-telegram-bot
sudo systemctl restart homelab-telegram-bot