# >>> path <<< #
#-- sudo nano /usr/local/bin/ --#

## ----- scripts --------------- ##

*/5 * * * * /usr/local/bin/temp_alert.sh
0 1 * * * /usr/local/bin/docker_night_stop.sh
0 7 * * * /usr/local/bin/docker_morning_start.sh
#0 3 * * 0 /usr/local/bin/apps-basic-bkp.sh >> /var/log/appdata_backup.log 2>&1

## ----- mpc and apps ------------- ##

# >>> path <<< #
#-- sudo /etc/systemd/system/ --#

homelab-mcp.service
homelab-telegram-bot.service 