[Unit]
Description=MCP Health Server
After=network.target

[Service]
Type=simple
User=dalves
WorkingDirectory=/home/dalves/automation/homelab-mcp

ExecStart=/home/dalves/automation/homelab-mcp/.venv/bin/python /home/dalves/automation/homelab-mcp/run.py

Restart=always
RestartSec=5

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target